Classification/*log*
Classification/memdata
Classification/newdata
Classification/__pycache__
Classification/t5_classify_ckpt
Classification/temptest.txt
NER/*log*
NER/Conll2Onto_1/*log*
NER/Conll2Onto_1/__pycache__
NER/Conll2Onto_1/t5ner_cl_ckpt
NER/Conll2Onto_2/*log*
NER/Conll2Onto_2/__pycache__
NER/Conll2Onto_2/t5ner_cl_ckpt
NER/Onto2Conll_1/*log*
NER/Onto2Conll_1/__pycache__
NER/Onto2Conll_1/t5ner_cl_ckpt
Summarization/*log*
Summarization/memdata
Summarization/newdata
Summarization/__pycache__
Summarization/t5_sum_ckpt
Summarization/temptest.txt
DiffType/T5NoContinual/*log*
DiffType/T5NoContinual/getfewshotdata_new.py
DiffType/T5NoContinual/__pycache__
DiffType/T5NoContinual/t5_pt_ckpt
DiffType/T5WithContinual/*log*
DiffType/T5WithContinual/getfewshotdata_new.py
DiffType/T5WithContinual/__pycache__
DiffType/T5WithContinual/t5_pt_ckpt





